/* You can add global styles to this file, and also import other style files */
@mixin subtitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px
}

@mixin title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  margin: 0 auto;
}

@mixin button {
  height: 2.5rem;
  border-radius: 20px;
  background-color: rgb(12, 142, 234);
  color: rgb(255, 255, 255);
  border: none;
  width: 140px;
  margin: 0 auto;
}

@mixin item {
  height: 32px;
  border: 1px solid gray;
  margin: 12px;
  border-radius: 10px;
  padding: 0 10px;
}
